.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  max-width: 460px;
  padding: 40px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
