body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #f1f1f1;
}

a {
  color: #ff655d;
}

a:hover,
a:active {
  color: #f44336;
}

/* Component CSS */

.app {
  display: flex;
  flex-direction: row;
  margin: 3rem;
}

.list {
  border: 1px solid black;
  padding-top: 3rem;
}

.list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.list li:hover {
  background-color: lightgrey;
  border-radius: 5px;
}

.list-contents {
  max-height: 70vh;
  overflow-y: scroll;
  width: 200px;
}

.fruit-filter {
  margin-left: 10px;
  margin-right: 10px;
}

.form {
  border: 1px solid black;
  border-left: none;
  padding: 3rem;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-container label {
  display: block;
}

.form-input {
  margin-bottom: 10px;
  border-radius: 6px;
  height: 30px;
  border-color: skyblue;
  width: 50%;
}

.form-input-container {
  width: 100%;
}

.form-button {
  background-color: steelblue;
}
